*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(min-width:993px){
.dropdown .dropdown-menu .show{
    display: none !important;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}


.dropdown:focus .dropdown-menu{
    display: block;
}
}

.navbar{
    background-color: #DAE2FF !important;
    color: #000 !important;
}

.nav-logo{
    width: 98px;
    height: 41px;
    /* margin-top: 10px; */
    margin-left: 50px;
    color: #0D6EFD;
    font-size: 30px;
    line-height: 40.8px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.start{
    width: 120px !important;
    height: 35px !important;
    border-radius: 8px !important;
    margin-left: 20px;
    /* padding: 12px 6px; */
}


.hire{
    margin-right: 50px !important;
    border: 1px solid #0D6EFD;
    color: #0D6EFD;
    margin-left: 20px;
    width: 60px !important;
    height: 35px !important;
    border-radius: 8px !important;
}

.nav-link{
    font-weight: bold;
}

.arrow{
    margin-left: 94px;
    font-size: 22px;
}
.arro{
    margin-left: 35px;
    font-size: 22px;
}
.arr{
    margin-left: 30px;
    font-size: 22px;
}
.arrs{
    margin-left: 30px;
    font-size: 22px;
}

.aro{
    margin-left: 60px;
    font-size: 22px; 
}
.ar{
    margin-left: 60px;
    font-size: 22px; 
}